This script is to prepare the one-hot encoding for categorical variables in a panda df for training and testing data.

to calculate: 
- missing feature index for every testing instance        
- mappings of features to dims

In [523]:
import six
import sys
sys.modules['sklearn.externals.six'] = six
import mlrose
import utils
import pickle
from collections import defaultdict

In [60]:
import pandas as pd

In [400]:
from preprocess_mv import preprocess_data
from collections import OrderedDict

In [437]:
dataset = "Titanic"

In [582]:
!ls ./data-robustml-mv/Titanic/missing_values/split

dirty_X_test.csv  dirty_X_train.csv  dirty_y_test.csv  dirty_y_train.csv

In [438]:
dirty_X_train = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_X_train.csv")
dirty_y_train = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_y_train.csv")
dirty_X_test = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_X_test.csv")
dirty_y_test = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_y_test.csv")

In [439]:
dirty_X_train = dirty_X_train.fillna(0)

In [440]:
dirty_X_test = dirty_X_test.fillna(0)

In [70]:
[y_test.shape[0] for y_test in [dirty_y_train]]

[624]

In [73]:
X_train, y_train, X_test_list, y_test_list = preprocess_data('Titanic', 
                                                             dirty_X_train, dirty_y_train, 
                                                             [dirty_X_test], [dirty_y_test])

dataset: {'data_dir': 'Titanic', 'error_types': ['missing_values'], 'drop_variables': ['PassengerId', 'Name'], 'label': 'Survived', 'categorical_variables': ['Survived'], 'ml_task': 'classification'}

This is the function used in the cleanml program. But there the preprocessing conditions on deletion of records with missing values. i.e., deletion first, then encode. For robustML, we keep the missingness in the data when encoding the features.

In [99]:
def encode_cat_features(X_train, X_test_list):
    n_tr = X_train.shape[0]
    print('n_tr:', n_tr)
    n_te_list = [X_test.shape[0] for X_test in X_test_list]
    print('n_te_list:', n_te_list)
    test_split = np.cumsum(n_te_list)[:-1]
    print('test_split:', test_split)

    X = pd.concat([X_train, *X_test_list], axis=0)
    print('X:', X, type(X))
    X = pd.get_dummies(X, drop_first=True).values.astype(float)
    print('X:', X)

    X_train = X[:n_tr, :]
    print('X_train:', X_train)
    X_test_list = np.split(X[n_tr:], test_split)
    return X_train, X_test_list

In [100]:
out1, out2 = encode_cat_features(dirty_X_train, [dirty_X_test])

n_tr: 624
n_te_list: [267]
test_split: []
X:      PassengerId  Pclass                                               Name  \
0            879       3                                 laleff, mr. kristo
1            135       2                     sobey, mr. samuel james hayden
2            174       3                          sivola, mr. antti wilhelm
3            601       2  jacobsohn, mrs. sidney samuel (amy frances chr...
4            648       1                simonius-blumer, col. oberst alfons
5             20       3                            masselmani, mrs. fatima
6            870       3                    johnson, master. harold theodor
7            234       3                     asplund, miss. lillian gertrud
8            614       3                                   horgan, mr. john
9             81       3                               waelens, mr. achille
10           568       3        palsson, mrs. nils (alma cornelia berglund)
11           116       3                              pekoniemi, mr. edvard
12           820       3                       skoog, master. karl thorsten
13           876       3                   najib, miss. adele kiamie "jane"
14           877       3                      gustafsson, mr. alfred ossian
15           585       3                                paulner, mr. uscher
16           202       3                                sage, mr. frederick
17           376       1              meyer, mrs. edgar joseph (leila saks)
18           303       3                    johnson, mr. william cahoone jr
19           319       1                           wick, miss. mary natalie
20           778       3                      emanuel, miss. virginia ethel
21           136       2                                 richard, mr. emile
22           163       3                         bengtsson, mr. john viktor
23           580       3                                jussila, mr. eiriik
24           501       3                                   calic, mr. petar
25           446       1                          dodge, master. washington
26           489       3                      somerton, mr. francis william
27           509       3                           olsen, mr. henry margido
28           702       1                   silverthorne, mr. spencer victor
29           777       3                                   tobin, mr. roger
..           ...     ...                                                ...
237          281       3                                   duane, mr. frank
238          738       1                             lesurer, mr. gustave j
239          456       3                                 jalsevac, mr. ivan
240          326       1                           young, miss. marie grice
241          240       2                             hunt, mr. george henry
242          871       3                                  balkic, mr. cerin
243          457       1                          millet, mr. francis davis
244          282       3                   olsson, mr. nils johan goransson
245          493       1                         molson, mr. harry markland
246          205       3                           cohen, mr. gurshon "gus"
247          227       2                          mellors, mr. william john
248          324       2  caldwell, mrs. albert francis (sylvia mae harb...
249          533       3                               elias, mr. joseph jr
250           89       1                         fortune, miss. mabel helen
251          236       3                       harknett, miss. alice phoebe
252          695       1                                    weir, col. john
253          428       2  phillips, miss. kate florence ("mrs kate louis...
254          618       3    lobb, mrs. william arthur (cordelia k stanlick)
255          431       1          bjornstrom-steffansson, mr. mauritz hakan
256          121       2                        hickman, mr. stanley george
257          744       3                                  mcnamee, mr. neal
258          341       2                     navratil, master. edmond roger
259          320       1  spedden, mrs. frederic oakley (margaretta corn...
260           75       3                                      bing, mr. lee
261          794       1                           hoyt, mr. william fisher
262          708       1                  calderhead, mr. edward pennington
263           35       1                            meyer, mr. edgar joseph
264          523       3                                 lahoud, mr. sarkis
265          478       3                          braund, mr. lewis richard
266          760       1  rothes, the countess. of (lucy noel martha dye...

        Sex   Age  SibSp  Parch             Ticket      Fare        Cabin  \
0      male   NaN      0      0             349217    7.8958          NaN
1      male  25.0      0      0         c.a. 29178   13.0000          NaN
2      male  21.0      0      0  ston/o 2. 3101280    7.9250          NaN
3    female  24.0      2      1             243847   27.0000          NaN
4      male  56.0      0      0              13213   35.5000          a26
5    female   NaN      0      0               2649    7.2250          NaN
6      male   4.0      1      1             347742   11.1333          NaN
7    female   5.0      4      2             347077   31.3875          NaN
8      male   NaN      0      0             370377    7.7500          NaN
9      male  22.0      0      0             345767    9.0000          NaN
10   female  29.0      0      4             349909   21.0750          NaN
11     male  21.0      0      0  ston/o 2. 3101294    7.9250          NaN
12     male  10.0      3      2             347088   27.9000          NaN
13   female  15.0      0      0               2667    7.2250          NaN
14     male  20.0      0      0               7534    9.8458          NaN
15     male   NaN      0      0               3411    8.7125          NaN
16     male   NaN      8      2           ca. 2343   69.5500          NaN
17   female   NaN      1      0           pc 17604   82.1708          NaN
18     male  19.0      0      0               line    0.0000          NaN
19   female  31.0      0      2              36928  164.8667           c7
20   female   5.0      0      0             364516   12.4750          NaN
21     male  23.0      0      0      sc/paris 2133   15.0458          NaN
22     male  26.0      0      0             347068    7.7750          NaN
23     male  32.0      0      0  ston/o 2. 3101286    7.9250          NaN
24     male  17.0      0      0             315086    8.6625          NaN
25     male   4.0      0      2              33638   81.8583          a34
26     male  30.0      0      0         a.5. 18509    8.0500          NaN
27     male  28.0      0      0             c 4001   22.5250          NaN
28     male  35.0      0      0           pc 17475   26.2875          e24
29     male   NaN      0      0             383121    7.7500          f38
..      ...   ...    ...    ...                ...       ...          ...
237    male  65.0      0      0             336439    7.7500          NaN
238    male  35.0      0      0           pc 17755  512.3292         b101
239    male  29.0      0      0             349240    7.8958          NaN
240  female  36.0      0      0           pc 17760  135.6333          c32
241    male  33.0      0      0         sco/w 1585   12.2750          NaN
242    male  26.0      0      0             349248    7.8958          NaN
243    male  65.0      0      0              13509   26.5500          e38
244    male  28.0      0      0             347464    7.8542          NaN
245    male  55.0      0      0             113787   30.5000          c30
246    male  18.0      0      0           a/5 3540    8.0500          NaN
247    male  19.0      0      0          sw/pp 751   10.5000          NaN
248  female  22.0      1      1             248738   29.0000          NaN
249    male  17.0      1      1               2690    7.2292          NaN
250  female  23.0      3      2              19950  263.0000  c23 c25 c27
251  female   NaN      0      0         w./c. 6609    7.5500          NaN
252    male  60.0      0      0             113800   26.5500          NaN
253  female  19.0      0      0             250655   26.0000          NaN
254  female  26.0      1      0          a/5. 3336   16.1000          NaN
255    male  28.0      0      0             110564   26.5500          c52
256    male  21.0      2      0       s.o.c. 14879   73.5000          NaN
257    male  24.0      1      0             376566   16.1000          NaN
258    male   2.0      1      1             230080   26.0000           f2
259  female  40.0      1      1              16966  134.5000          e34
260    male  32.0      0      0               1601   56.4958          NaN
261    male   NaN      0      0           pc 17600   30.6958          NaN
262    male  42.0      0      0           pc 17476   26.2875          e24
263    male  28.0      1      0           pc 17604   82.1708          NaN
264    male   NaN      0      0               2624    7.2250          NaN
265    male  29.0      1      0               3460    7.0458          NaN
266  female  33.0      0      0             110152   86.5000          b77

    Embarked
0          s
1          s
2          s
3          s
4          c
5          c
6          s
7          s
8          q
9          s
10         s
11         s
12         s
13         c
14         s
15         c
16         s
17         c
18         s
19         s
20         s
21         c
22         s
23         s
24         s
25         s
26         s
27         s
28         s
29         q
..       ...
237        q
238        c
239        c
240        c
241        s
242        s
243        s
244        s
245        s
246        s
247        s
248        s
249        c
250        s
251        s
252        s
253        s
254        s
255        s
256        s
257        s
258        s
259        c
260        s
261        c
262        s
263        c
264        c
265        s
266        s

[891 rows x 11 columns] <class 'pandas.core.frame.DataFrame'>
X: [[879.   3.  nan ...   0.   0.   1.]
 [135.   2.  25. ...   0.   0.   1.]
 [174.   3.  21. ...   0.   0.   1.]
 ...
 [523.   3.  nan ...   0.   0.   0.]
 [478.   3.  29. ...   0.   0.   1.]
 [760.   1.  33. ...   0.   0.   1.]]
X_train: [[879.   3.  nan ...   0.   0.   1.]
 [135.   2.  25. ...   0.   0.   1.]
 [174.   3.  21. ...   0.   0.   1.]
 ...
 [217.   3.  27. ...   0.   0.   1.]
 [445.   3.  nan ...   0.   0.   1.]
 [360.   3.  nan ...   0.   1.   0.]]

In [90]:
out1.shape, out2[0].shape

((624, 1725), (267, 1725))

In [85]:
dirty_X_train.shape, dirty_X_test.shape

((624, 11), (267, 11))

In [91]:
out1

array([[879.,   3.,  nan, ...,   0.,   0.,   1.],
       [135.,   2.,  25., ...,   0.,   0.,   1.],
       [174.,   3.,  21., ...,   0.,   0.,   1.],
       ...,
       [217.,   3.,  27., ...,   0.,   0.,   1.],
       [445.,   3.,  nan, ...,   0.,   0.,   1.],
       [360.,   3.,  nan, ...,   0.,   1.,   0.]])

In [329]:
test = pd.DataFrame({'gb':['bad','good', 'bad'],
                    'fl': ['fat', 'slim', 'slim'], 
                    'num':[1,2,3],
                    'wc': ['', 'cool', 'warm']})

In [330]:
test

     fl    gb  num    wc
0   fat   bad    1
1  slim  good    2  cool
2  slim   bad    3  warm

In [247]:
pd.get_dummies(test, drop_first=True).values.astype(float)

array([[1., 0., 0., 0., 0.],
       [2., 1., 1., 1., 0.],
       [3., 1., 0., 0., 1.]])

A problem with the above function: the original sequence of features is staggered. First pd lists the features which are not to encode, and then alphabetically sorts the features to encode. It is not an ideal structure for generating our one hot encoding mappings for nacl.

In [249]:
pd.get_dummies(test).columns

Index(['num', 'fl_fat', 'fl_slim', 'gb_bad', 'gb_good', 'wc_', 'wc_cool',
       'wc_warm'],
      dtype='object')

So one needs to add the columns to the get_dummies to keep the original sequence of variables.

In [248]:
pd.get_dummies(test, columns=list(test.columns)).columns

Index(['fl_fat', 'fl_slim', 'gb_bad', 'gb_good', 'num_1', 'num_2', 'num_3',
       'wc_', 'wc_cool', 'wc_warm'],
      dtype='object')

The following piece of code demonstrates a way of generating encodings and its mappings.

In [371]:
test = pd.DataFrame({'gb':['bad','good', 'bad'],
                    'fl': ['fat', 'slim', 'slim'], 
                    'num':[1,2,3],
                    'wc': [None, 'cool', 'warm']})

In [412]:
test = test.fillna(0)

In [413]:
test

   num    fl    gb    wc
0    1   fat   bad     0
1    2  slim  good  cool
2    3  slim   bad  warm

In [414]:
from sklearn.preprocessing import LabelEncoder

In [415]:
def oneHotEncode(df):
    '''Return new df after one hot encoding.'''

    columnsToEncode = list(df.select_dtypes(include=['object', 'bool', 'category']))
    print('columns to encode:', columnsToEncode)
    
    for i, feature in enumerate(list(df.columns)):
        if feature in columnsToEncode:

            df = pd.concat([df, 
                              pd.get_dummies(df[feature]).rename(columns=lambda x: feature + '_' + str(x))], axis=1)
            
            df = df.drop(feature, axis=1)
        
            
        
    return df

In [416]:
encode = oneHotEncode(test)

columns to encode: ['fl', 'gb', 'wc']

In [417]:
encode

   num  fl_fat  fl_slim  gb_bad  gb_good  wc_0  wc_cool  wc_warm
0    1       1        0       1        0     1        0        0
1    2       0        1       0        1     0        1        0
2    3       0        1       1        0     0        0        1

generate the mappings based on the output encoding df

In [418]:
newcols = [c.split('_')[0] for c in encode.columns]

In [419]:
test

   num    fl    gb    wc
0    1   fat   bad     0
1    2  slim  good  cool
2    3  slim   bad  warm

In [420]:
test['wc'].isnull().values.any()

False

In [421]:
newcols

['num', 'fl', 'fl', 'gb', 'gb', 'wc', 'wc', 'wc']

In [422]:
order = list(OrderedDict((x, True) for x in newcols).keys())

In [423]:
test = test.reindex(columns=order)

In [424]:
test

   num    fl    gb    wc
0    1   fat   bad     0
1    2  slim  good  cool
2    3  slim   bad  warm

In [425]:

mappings = []
mappings_dict = {}
for i, oldcol in enumerate(test.columns):

    # append the new index in the encoding df
    idx = [i for i, x in enumerate(newcols) if x == oldcol]
    mappings.insert(i, idx)
    mappings_dict[oldcol] = (i, idx)

In [426]:
mappings

[[0], [1, 2], [3, 4], [5, 6, 7]]

In [427]:
mappings_dict

{'num': (0, [0]), 'fl': (1, [1, 2]), 'gb': (2, [3, 4]), 'wc': (3, [5, 6, 7])}

In [428]:
test

   num    fl    gb    wc
0    1   fat   bad     0
1    2  slim  good  cool
2    3  slim   bad  warm

In [429]:
encode.values.astype(float)

array([[1., 1., 0., 1., 0., 1., 0., 0.],
       [2., 0., 1., 0., 1., 0., 1., 0.],
       [3., 0., 1., 1., 0., 0., 0., 1.]])

In [431]:
test

   num    fl    gb    wc
0    1   fat   bad     0
1    2  slim  good  cool
2    3  slim   bad  warm

In [432]:
def encode_cat_features(X_train, X_test_list):
    n_tr = X_train.shape[0]
    n_te_list = [X_test.shape[0] for X_test in X_test_list]
    test_split = np.cumsum(n_te_list)[:-1]
    X = pd.concat([X_train, *X_test_list], axis=0)
    X_ = oneHotEncode(X)
    
    newcols = [c.split('_')[0] for c in X_.columns]
    order = list(OrderedDict((x, True) for x in newcols).keys())
    X = X.reindex(columns=order)
    
    mappings = []
    mappings_dict = {}
    for i, oldcol in enumerate(X.columns):
        # append the new index in the encoding df
        idx = [i for i, x in enumerate(newcols) if x == oldcol]
        mappings.insert(i, idx)
        mappings_dict[oldcol] = (i, idx)
    
    X = X_.values.astype(float)
    
    X_train = X[:n_tr, :]

    X_test_list = np.split(X[n_tr:], test_split)
    return X_train, X_test_list, mappings, mappings_dict

In [433]:
encode_cat_features(test, [test])

columns to encode: ['fl', 'gb', 'wc']

(array([[1., 1., 0., 1., 0., 1., 0., 0.],
        [2., 0., 1., 0., 1., 0., 1., 0.],
        [3., 0., 1., 1., 0., 0., 0., 1.]]),
 [array([[1., 1., 0., 1., 0., 1., 0., 0.],
         [2., 0., 1., 0., 1., 0., 1., 0.],
         [3., 0., 1., 1., 0., 0., 0., 1.]])],
 [[0], [1, 2], [3, 4], [5, 6, 7]],
 {'num': (0, [0]), 'fl': (1, [1, 2]), 'gb': (2, [3, 4]), 'wc': (3, [5, 6, 7])})

In [442]:
X_train, X_test_list, mappings, mappings_dict = encode_cat_features(dirty_X_train, [dirty_X_test])

columns to encode: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

generate missing feature index in the test set

In [445]:
dirty_X_test = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_X_test.csv")

In [446]:
null_data = dirty_X_test[dirty_X_test.isnull().any(axis=1)]

In [447]:
null_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,148,3,"ford, miss. robina maggie ""ruby""",female,9.0,2,2,w./c. 6608,34.3750,NaN,s
2,603,1,"harrington, mr. charles h",male,NaN,0,0,113796,42.4000,NaN,s
3,224,3,"nenkoff, mr. christo",male,NaN,0,0,349234,7.8958,NaN,s
4,649,3,"willey, mr. edward",male,NaN,0,0,s.o./p.p. 751,7.5500,NaN,s
6,31,1,"uruchurtu, don. manuel e",male,40.0,0,0,pc 17601,27.7208,NaN,c
7,26,3,"asplund, mrs. carl oscar (selma augusta emilia...",female,38.0,1,5,347077,31.3875,NaN,s
8,549,3,"goldsmith, mr. frank john",male,33.0,1,1,363291,20.5250,NaN,s
9,351,3,"odahl, mr. nils martin",male,23.0,0,0,7267,9.2250,NaN,s
10,788,3,"rice, master. george hugh",male,8.0,4,1,382652,29.1250,NaN,q
11,852,3,"svensson, mr. johan",male,74.0,0,0,347060,7.7750,NaN,s
12,343,2,"collander, mr. erik gustaf",male,28.0,0,0,248740,13.0000,NaN,s
13,25,3,"palsson, miss. torborg danira",female,8.0,3,1,349909,21.0750,NaN,s
14,851,3,"andersson, master. sigvard harald elias",male,4.0,4,2,347082,31.2750,NaN,s
15,726,3,"oreskovic, mr. luka",male,20.0,0,0,315094,8.6625,NaN,s
16,561,3,"morrow, mr. thomas rowan",male,NaN,0,0,372622,7.7500,NaN,q
17,275,3,"healy, miss. hanora ""nora""",female,NaN,0,0,370375,7.7500,NaN,q
18,483,3,"rouse, mr. richard henry",male,50.0,0,0,a/5 3594,8.0500,NaN,s
19,71,2,"jenkin, mr. stephen curnow",male,32.0,0,0,c.a. 33111,10.5000,NaN,s
20,554,3,"leeni, mr. fahim (""philip zenni"")",male,22.0,0,0,2620,7.2250,NaN,c
21,299,1,"saalfeld, mr. adolphe",male,NaN,0,0,19988,30.5000,c106,s
23,625,3,"bowen, mr. david john ""dai""",male,21.0,0,0,54636,16.1000,NaN,s
24,589,3,"gilinski, mr. eliezer",male,22.0,0,0,14973,8.0500,NaN,s
25,329,3,"goldsmith, mrs. frank john (emily alice brown)",female,31.0,1,1,363291,20.5250,NaN,s
26,204,3,"youseff, mr. gerious",male,45.5,0,0,2628,7.2250,NaN,c
27,168,3,"skoog, mrs. william (anna bernhardina karlsson)",female,45.0,1,4,347088,27.9000,NaN,s
28,883,3,"dahlberg, miss. gerda ulrika",female,22.0,0,0,7552,10.5167,NaN,s
29,758,2,"bailey, mr. percy andrew",male,18.0,0,0,29108,11.5000,NaN,s
30,123,2,"nasser, mr. nicholas",male,32.5,1,0,237736,30.0708,NaN,c
31,685,2,"brown, mr. thomas william solomon",male,60.0,1,1,29750,39.0000,NaN,s
32,827,3,"lam, mr. len",male,NaN,0,0,1601,56.4958,NaN,s
...,...,...,...,...,...,...,...,...,...,...,...
225,459,2,"toomey, miss. ellen",female,50.0,0,0,f.c.c. 13531,10.5000,NaN,s
226,230,3,"lefebre, miss. mathilde",female,NaN,3,1,4133,25.4667,NaN,s
227,260,2,"parrish, mrs. (lutie davis)",female,50.0,0,1,230433,26.0000,NaN,s
228,100,2,"kantor, mr. sinai",male,34.0,1,0,244367,26.0000,NaN,s
229,809,2,"meyer, mr. august",male,39.0,0,0,248723,13.0000,NaN,s
230,241,3,"zabour, miss. thamine",female,NaN,1,0,2665,14.4542,NaN,c
231,33,3,"glynn, miss. mary agatha",female,NaN,0,0,335677,7.7500,NaN,q
232,552,2,"sharp, mr. percival james r",male,27.0,0,0,244358,26.0000,NaN,s
234,787,3,"sjoblom, miss. anna sofia",female,18.0,0,0,3101265,7.4958,NaN,s
236,70,3,"kink, mr. vincenz",male,26.0,2,0,315151,8.6625,NaN,s
237,281,3,"duane, mr. frank",male,65.0,0,0,336439,7.7500,NaN,q
239,456,3,"jalsevac, mr. ivan",male,29.0,0,0,349240,7.8958,NaN,c
241,240,2,"hunt, mr. george henry",male,33.0,0,0,sco/w 1585,12.2750,NaN,s
242,871,3,"balkic, mr. cerin",male,26.0,0,0,349248,7.8958,NaN,s
244,282,3,"olsson, mr. nils johan goransson",male,28.0,0,0,347464,7.8542,NaN,s
246,205,3,"cohen, mr. gurshon ""gus""",male,18.0,0,0,a/5 3540,8.0500,NaN,s
247,227,2,"mellors, mr. william john",male,19.0,0,0,sw/pp 751,10.5000,NaN,s
248,324,2,"caldwell, mrs. albert francis (sylvia mae harb...",female,22.0,1,1,248738,29.0000,NaN,s
249,533,3,"elias, mr. joseph jr",male,17.0,1,1,2690,7.2292,NaN,c
251,236,3,"harknett, miss. alice phoebe",female,NaN,0,0,w./c. 6609,7.5500,NaN,s
252,695,1,"weir, col. john",male,60.0,0,0,113800,26.5500,NaN,s
253,428,2,"phillips, miss. kate florence (""mrs kate louis...",female,19.0,0,0,250655,26.0000,NaN,s
254,618,3,"lobb, mrs. william arthur (cordelia k stanlick)",female,26.0,1,0,a/5. 3336,16.1000,NaN,s
256,121,2,"hickman, mr. stanley george",male,21.0,2,0,s.o.c. 14879,73.5000,NaN,s
257,744,3,"mcnamee, mr. neal",male,24.0,1,0,376566,16.1000,NaN,s
260,75,3,"bing, mr. lee",male,32.0,0,0,1601,56.4958,NaN,s
261,794,1,"hoyt, mr. william fisher",male,NaN,0,0,pc 17600,30.6958,NaN,c
263,35,1,"meyer, mr. edgar joseph",male,28.0,1,0,pc 17604,82.1708,NaN,c
264,523,3,"lahoud, mr. sarkis",male,NaN,0,0,2624,7.2250,NaN,c
265,478,3,"braund, mr. lewis richard",male,29.0,1,0,3460,7.0458,NaN,s

In [508]:
missing = [[]] * dirty_X_test.shape[0]
for i, row in null_data.iterrows():
    # append the original index of the missing feature
    cols = null_data.columns.get_values()[np.where(pd.isnull(row))]
    
    idx = [mappings_dict[col][0] for col in cols]
    missing[i] = idx
missing = np.array(missing)

In [504]:
missing[264]

[2, 9]

In [474]:
null_data.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [506]:
mappings_dict['Age'][0], mappings_dict['Cabin'][0]

(2, 9)

In [510]:
missing.shape

(267,)

In [512]:
dirty_X_test.shape

(267, 11)

pickle the output for a test!

In [513]:
!pwd

/mnt/ds3lab-scratch/raox/gatech_data_cleaning/ICDE2021-revision/CleanML

In [518]:
sample = pickle.load(open('../NaCL/notebooks/data-robustml/Titanic/missing_values/split_8444/data_3659.p', 'rb'))

In [551]:
sample['test']['impute_mode_mode'][0]

array([[ 3.43894356,  0.8391221 , -0.71619094, ...,  0.        ,
        -0.12309149,  0.77151675],
       [ 3.43894356, -0.77496341, -0.71619094, ...,  0.        ,
        -0.12309149, -1.29614814],
       [ 1.53473514, -0.1293292 ,  0.76026423, ...,  0.        ,
        -0.12309149,  0.77151675],
       ...,
       [ 3.43894356, -1.29147077,  0.76026423, ...,  0.        ,
        -0.12309149,  0.77151675],
       [-0.36947327, -0.77496341, -0.71619094, ...,  0.        ,
        -0.12309149, -1.29614814],
       [ 3.43894356, -0.90409025, -0.71619094, ...,  0.        ,
        -0.12309149,  0.77151675]])

In [581]:
sample['train'][1].shape

(134,)

In [ ]:
# X_train, y_train, X_test, y_test, mappings, mappings_dict, missing_test

In [442]:
X_train, X_test_list, mappings, mappings_dict = encode_cat_features(dirty_X_train, [dirty_X_test])

columns to encode: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [529]:
def encode_cat_label(y_train, y_test_list):
    n_tr = y_train.shape[0]
    n_te_list = [y_test.shape[0] for y_test in y_test_list]
    test_split = np.cumsum(n_te_list)[:-1]

    y = pd.concat([y_train, *y_test_list], axis=0)
    le = LabelEncoder()
    y = le.fit_transform(y.values.ravel())

    y_train = y[:n_tr]
    y_test_list = np.split(y[n_tr:], test_split)
    return y_train, y_test_list

In [600]:
from sklearn.preprocessing import StandardScaler

In [601]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test_list = [scaler.transform(X_test) for X_test in X_test_list]

In [530]:
y_train, y_test_list = encode_cat_label(dirty_y_train, [dirty_y_test] )

In [591]:
output = defaultdict(lambda: defaultdict(list))

In [602]:
output['train']['nacl'] = (X_train, y_train)

In [603]:
output['test']['nacl'] = (X_test_list[0], y_test_list[0])

In [604]:
output['train']['nacl'][1].shape

(624,)

In [605]:
output['test']['nacl'][1].shape

(267,)

In [606]:
output['missing_test'] = missing

In [607]:
output['mappings1hot_dict'] = mappings_dict

In [608]:
output['mappings1hot_list'] = mappings

In [609]:
pickle.dump(dict(output), open("./data-robustml-mv/Titanic/missing_values/split_144/data.p", 'wb'))

In [586]:
pwd

'/mnt/ds3lab-scratch/raox/gatech_data_cleaning/ICDE2021-revision/CleanML'